name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  test-local:
    uses: ./.github/workflows/test-local.yaml
