name: Nightly Tests
on:
  schedule:
    - cron: "0 9 * * *" # run at 9:00 AM UTC
  workflow_dispatch: # to trigger manually

permissions:
  actions: write
  contents: read

jobs:
  format:
    uses: ./.github/workflows/format.yaml
    timeout-minutes: 10
  test-local:
    uses: ./.github/workflows/test-local.yaml
    timeout-minutes: 10
  test-stable:
    uses: ./.github/workflows/test-stable.yaml
    timeout-minutes: 10
